# Byte-compiled / optimized / compiled Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Project Artifacts (Large binary files)
artifacts/
*.npy
*.index

# Data
data/
*.jsonl
*.jsonl.gz

# OS files
.DS_Store
Thumbs.db